$link: rgb(100,100,100);
$color-primary: #FFA500;

body {
	height: 100%;
	background: lightgrey;

	color: rgb(60, 60, 70);
	padding: 1% 4%;

	/* Background tile from: http://subtlepatterns.com */
	background-image: url(../img/bg.png);
	background-size: auto;
	background-repeat: repeat repeat;

	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-style: normal;
}

a {
	color: $link;
	padding: 5px 8px;

	transition: color 0.5s ease-in, background-color 0.5s ease-out;
	border-radius: 2px;

	&:hover {
		color: #0166FF;
		background-color: rgba($color-primary, 0.8);
	}
}

h1 {
	font-weight: 700;
	font-size: 3rem;
}

h2 {
	font-weight: 500;
	font-size: 2.2rem;
}

p {
	font-size: 1.5rem;
}

ul {
	list-style-type: circle;
	font-size: 1.4rem;
	padding-left: 3em;

	li {
		margin-bottom: 0.4em;

		@media screen and (max-width: 700px) {
			margin-bottom: 0.8em;
		}
	}
}