body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #f2f2ea;
	background: #f2f2ea;
}

.brian_portrait {
	display:none;
	float:right;
	position:relative;
	right:10px;
}

a {
	color: orange;
}

ul {
	list-style-type: circle;
	padding-left:30px;
	-webkit-margin-before: 0.3em;
}

li {
	padding-bottom:4px;
}

h4 {
	-webkit-margin-after: 0;
}

#wrapper {
	padding:25px 0 0 25px;
}

.box {
	width:310px;
	height:310px;

	background-color: #212329;

	margin-right:20px;
	margin-bottom:20px;

	float:left;
}

.box.double-wide {
	width:640px;
}

.box.double-high {
	height:640px;
}

.box.double-wide .left {
	float:left;
	width:48%;

	height:627px;

	border-right:1px solid grey;
}

.box.double-wide .left > * {
	padding-right:10px;
}

.box.double-wide .right {
	float:right;
	width:48%;
}

.box .padding_wrapper {
	padding: 5px 15px 20px 25px;
}

.box.more-info .close-button {
	position:absolute;
	top:15px;
	right:15px;

	text-decoration: none;

	font-size:25px;
}

.extend-box-down{
	display:none;

	position: absolute;
	bottom: 10px;
	left:10px;

	color: #797979;

	text-decoration: none;
}

#setkick img {
	height: auto;
	width: 300px;
	position: relative;
	right: 10px;
	box-shadow: 5px 5px 5px #797979;

	margin-top:60px;
}

.paused, .loading {
	position:absolute;
	top:15px;
	right:15px;
}

.window_focus .paused {
	display:none;
}

.hidden {
	display:none;
}


/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
	-webkit-transition-duration: 0.7s;
		 -moz-transition-duration: 0.7s;
			-ms-transition-duration: 0.7s;
			 -o-transition-duration: 0.7s;
					transition-duration: 0.7s;
}

.masonry {
	-webkit-transition-property: width, height;
		 -moz-transition-property: width, height;
			-ms-transition-property: width, height;
			 -o-transition-property: width, height;
					transition-property: width, height;
}

.masonry .masonry-brick {
	-webkit-transition-property: left, right, top;
		 -moz-transition-property: left, right, top;
			-ms-transition-property: left, right, top;
			 -o-transition-property: left, right, top;
					transition-property: left, right, top;
}