body {
	@include copyfont();

	font-size: 12px;
	color: $text;

	/* Background tile from: http://subtlepatterns.com - Brushed Alum Dark */
	background-image: url(../img/bg.png);
	background-size: auto;
	background-repeat: repeat repeat;

	visibility: hidden;
}

header {
	margin-bottom: 50px;
	padding-left: 15px;

	width:580px;

	p {
		font-size:22px;
	}

	ul {
		font-size:20px;
	}
}

.section {
	border-top: 10px solid $dark;

	&.continued {
		border-top:0;
		margin-left:280px;
	}
}

ul {
	list-style-type: circle;
	padding-left: 20px;
}

li {
	padding-bottom: 4px;
}

#wrapper {
	padding: 15px 0 0 15px;
}

.box {
	width: 250px;
	height: 250px;
	background-color: $dark;
	outline: 5px solid $dark;
	margin-right: 30px;
	margin-bottom: 30px;
	float: left;
	overflow: hidden;
	clear: both;

	color: #f2f2ea;

	a {
		color: $highlight;

		&:hover {
			color:darken($highlight, 10%);
		}
	}

	&.scroll {
		overflow-y: scroll;
	}

	.padding_wrapper {
		padding: 0 15px 20px 15px;
	}

	&.expanded {
		&.double-wide {
			width: 530px;
		}

		&.double-high {
			height: 530px;
		}
	}

	&.double-wide .left {
		float: left;
		width: 220px;
		height: 627px;

		> * {
			padding-right: 10px;
		}
	}

	&.expanded.double-wide .right {
		float: right;
		width: 48%;
	}

	.expand-button {
		position: absolute;
		bottom: 3px;
		right: 3px;
		text-decoration: none;
		font-size: 14px;
	}

	.contract-button {
		position: absolute;
		bottom: 3px;
		right: 3px;
		text-decoration: none;
		font-size: 14px;
		display: none;
	}

	&.expanded {
		.expand-button {
			display: none;
		}
		.contract-button {
			display: block;
		}
	}

	.more-information {
		padding-left: 10px;
		padding-top: 10px;
	}

	&.title {
		float: none;
	}

	&.heading {
		background: none;
		outline: none;

		color: $text;

		p {
			font-size:15px;
			font-weight: bold;
		}
	}

	.bdo-vault-logo {
		margin-top: 15px;
	}

	.social-pulse-logo {
		margin-top:10px;
	}
}

.box, .section {
	-webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.7s, left 0.7s, right 0.7s, top 0.7s;
	-moz-transition: width 0.4s, height 0.4s, -webkit-transform 0.7s, left 0.7s, right 0.7s, top 0.7s;
	-ms-transition: width 0.4s, height 0.4s, -webkit-transform 0.7s, left 0.7s, right 0.7s, top 0.7s;
	-o-transition: width 0.4s, height 0.4s, -webkit-transform 0.7s, left 0.7s, right 0.7s, top 0.7s;
	transition: width 0.4s, height 0.4s, -webkit-transform 0.7s, left 0.7s, right 0.7s, top 0.7s;
}

/* Heading boxes */

.fadeout {
	position: absolute;
	top: 170px;
	height: 80px;
	width: 100%;
	background-image: linear-gradient(rgba(33, 36, 41, 0) 0%, rgba(33, 35, 41, 1) 80%);
	background-image: -o-linear-gradient(rgba(33, 36, 41, 0) 0%, rgba(33, 35, 41, 1) 80%);
	background-image: -moz-linear-gradient(rgba(33, 36, 41, 0) 0%, rgba(33, 35, 41, 1) 80%);
	background-image: -webkit-linear-gradient(rgba(33, 36, 41, 0) 0%, rgba(33, 35, 41, 1) 80%);
	background-image: -ms-linear-gradient(rgba(33, 36, 41, 0) 0%, rgba(33, 35, 41, 1) 80%);
	background: -webkit-linear-gradient(rgba(33, 35, 41, 0) 0%, rgba(33, 35, 41, 1) 80%);
}

.expanded .fadeout {
	display: none;
}

#curves_canvas {
	height: 260px;
}

#setkick img {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 200px;
}

.paused, .loading {
	position: absolute;
	top: 30px;
	right: 15px;
}

.window_focus .paused, .hidden {
	display: none;
}