body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #f2f2ea;

	/* Background tile from: http://subtlepatterns.com - Brushed Alum Dark */
	background-image: url(../img/bg.png);
	background-size: auto;
	background-repeat: repeat repeat;

	/*background: #53597A;*/

	visibility: hidden;
}

.section {
	border-top:10px solid #212329;
}

a {
	color: orange;
}

ul {
	list-style-type: circle;
	padding-left:20px;
}

li {
	padding-bottom:4px;
}

ul.bar {
	width:100%;
	list-style-type: none;
	padding-left:0;

	border-right:2px solid grey;
}

ul.bar li {
	padding-bottom:6px;
	padding-top:6px;
	padding-left:8px;

	margin:5px 0 5px 0;

	font-weight: bold;
	text-shadow: 1px 1px 3px grey;
}

ul.bar li span {
	white-space:nowrap;
}

h1 {
	font-size:22px;
}

h4 {
	-webkit-margin-after: 0;
}

#wrapper {
	padding:15px 0 0 15px;
}

.box {
	width:250px;
	height:250px;

	background-color: #212329;
	outline: 5px solid #212329;

	margin-right:30px;
	margin-bottom:30px;

	float:left;

	overflow:hidden;

	clear:both;
}

.box.scroll {
	overflow-y:scroll;
}

.box .padding_wrapper {
	padding: 0 15px 20px 15px;
}

.box.expanded.double-wide {
	width:530px;
}

.box.expanded.double-high {
	height:530px;
}

.box.double-wide .left {
	float:left;
	width:220px;

	height:627px;
}

.box.double-wide .left > * {
	padding-right:10px;
}

.box.expanded.double-wide .right {
	float:right;
	width:48%;
}

.box .expand-button, .box .contract-button {
	position:absolute;
	bottom:3px;
	right:3px;

	text-decoration: none;

	font-size:14px;
}

.box .contract-button {
	display:none;
}

.box.expanded .expand-button {
	display:none;
}

.box.expanded .contract-button {
	display:block;
}

.box .more-information {
	padding-left:10px;
	padding-top:10px;
}

.box.title {
	float:none;
}

/* Heading boxes */
.box.heading {
	background:none;
	outline:none;
}

.box.heading h1 {
	color:#3b3b3b;
}

.box.heading p {
	color:#3b3b3b;
	font-weight: bold;
}

.fadeout {
	position: absolute;
	top: 170px;
	height: 80px;
	width:100%;

	background-image: linear-gradient(rgba(33,36,41, 0) 0%, rgba(33,35,41, 1) 80%);
	background-image: -o-linear-gradient(rgba(33,36,41, 0) 0%, rgba(33,35,41, 1) 80%);
	background-image: -moz-linear-gradient(rgba(33,36,41, 0) 0%, rgba(33,35,41, 1) 80%);
	background-image: -webkit-linear-gradient(rgba(33,36,41, 0) 0%, rgba(33,35,41, 1) 80%);
	background-image: -ms-linear-gradient(rgba(33,36,41, 0) 0%, rgba(33,35,41, 1) 80%);

	background: -webkit-linear-gradient(
		rgba(33,35,41, 0) 0%,
		rgba(33,35,41, 1) 80%
	); 
} 

.expanded .fadeout {
	display:none;
}


#curves_canvas {
	height:260px;
}

#setkick img {
	margin-top:20px;
	margin-bottom:20px;

	height:200px;
}

.paused, .loading {
	position:absolute;
	top:30px;
	right:15px;
}

.window_focus .paused {
	display:none;
}

.hidden {
	display:none;
}