body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #f2f2ea;
	background: #f2f2ea;
}

a {
	color: orange;
}

ul {
	list-style-type: circle;
	padding-left:30px;
	-webkit-margin-before: 0.3em;
}

li {
	padding-bottom:4px;
}

h4 {
	-webkit-margin-after: 0;
}

#wrapper {
	padding:25px 0 0 25px;
}

.box {
	width:300px;
	height:300px;

	background-color: #212329;
	outline: 5px solid #212329;

	margin-right:30px;
	margin-bottom:30px;

	float:left;

	overflow:hidden;
}

.box.scroll {
	overflow-y:scroll;
}

.box.double-wide {
	width:640px;
}

.box.double-high {
	height:640px;
}

.box.double-wide .left {
	float:left;
	width:48%;

	height:627px;

	border-right:1px solid grey;
}

.box.double-wide .left > * {
	padding-right:10px;
}

.box.double-wide .right {
	float:right;
	width:48%;
}

.box .padding_wrapper {
	padding: 5px 15px 20px 25px;
}

.box.double-high .toggle-box-height:after {
	content: " ←";
}

.box.more-info .close-button {
	position:absolute;
	top:15px;
	right:15px;

	text-decoration: none;

	font-size:25px;
}

.box .more-information {
	padding-left:10px;
	padding-top:10px;
}

.toggle-box-height {
	display:none;

	position: absolute;
	bottom: 10px;
	left:10px;

	color: #797979;

	text-decoration: none;
}

.toggle-box-height:after, .more-info-link:after {
	content: " →";
}

#curves_canvas {
	height:310px;
}

#setkick img {
	height: auto;
	width: 300px;
	position: relative;
	right: 10px;
	box-shadow: 5px 5px 5px #797979;

	margin-top:60px;
}

.paused, .loading {
	position:absolute;
	top:15px;
	right:15px;
}

.window_focus .paused {
	display:none;
}

.hidden {
	display:none;
}